@charset "utf-8";

body{
  background-color: #FEE6CA;
}

.container-fluid1 {
  width: 100%;
  height: 4em;
  border: #3f944277 solid 1px;
  background-color: #fbebda;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  position: relative; 
  padding-top: 5px;

  img{
    display: block;
    position: absolute;
    left: 80px;
  }
}

.nav-link:visited {
  color: inherit; /* Garde la couleur du lien non cliqué */
  text-decoration: none; /* Supprime la décoration, par exemple le soulignement */
}

a {
  text-decoration: none; /* Enlève le soulignement par défaut */
  color: inherit !important; /* Garde la couleur du lien non survolé */
  position: relative; /* Nécessaire pour le positionnement du pseudo-élément */
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px; /* Épaisseur du trait */
  background-color: #1D972C; /* Couleur du trait */
  border-radius: 10px; /* Arrondit les bords du trait */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: width 0.5s ease; /* Animation pour l'apparition du trait */
}

.nav-link:hover::after {
  width: 100%; 
}

.nav-link-container {
  background-color: #ffeddf;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-link {
font-family: "Roboto Condensed", sans-serif;
font-size: 1.2em;
}

#button.nav-link {
font-family: "Roboto Condensed", sans-serif;
font-size: 1.15em;
flex-direction: row;
justify-content: center;
}

.navbar-nav {
justify-content: space-evenly;
padding-left: 111px;
}

.navbar {
  padding-top: 0px !important;
}

.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 50px;
  margin: 0 auto;
}

.text-content {
  width: 80%;
  font-family: "Aclonica", sans-serif;
}

.text-content > h1  {
  font-size: 80px;
  line-height: 2;
  color: #000;
  margin-bottom: 10px;
  line-height: 100px;
  padding-bottom: 40px;
}

.yellow {
  color: #F7C32E;
}

.green {
  color: #4CAF50;
}

.text-content > p {
  font-size: 1.5em;
  font-weight: 350;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}

.text-content > h2 {
  font-size: 3.3em;
  font-weight: 280;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 40px;
  padding-left: 8px;
}

.cta-button {
  background-color: #F7C32E;
  color: #ffffff !important; 
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  cursor: pointer;
}

.cta-button:hover{
  background-color: #000000;
}

.image-content {
  width: 40%;
  img {
    display: block;
    position: relative;
    left: 185px;
    bottom: 60px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.btn{
  padding: 0.6rem 0.5rem !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border: solid rgba(0, 0, 0, 0.138);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #fff4e4;
  margin-top: 100px; /* Ajoute un espacement entre le bas de la navbar et le formulaire */
  margin-left: 570px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}

.form-label{
  color: #000;
}

.titre > h1 {
  color: #4CAF50;
  text-align: center; /* Centre le titre */
  font-family: "Aclonica", sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

.redstar{
  color: rgb(203, 15, 15);
}

.form-check {
  padding-left: 160px !important;
  padding-bottom: 10px !important;
}

.form-control {
  width: 100%; /* Prend toute la largeur du formulaire */
  padding: .375rem .75rem;
  margin-bottom: 1rem; /* Ajoute un espacement entre les champs */
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btnbtn-sec{
  padding-bottom: 10px; /* Ajuste la taille du bouton */
  margin: 0 auto; /* Centre le bouton horizontalement */
  text-align: center; /* Centre le texte à l'intérieur du bouton */
  background-color: #F7C32E;
  color: #ffffff;
  border-radius: 20px;
}

.btn-primary {
  width: 235px;
  height: 50px;
  color: #ffffff;
  font-weight: 450;
  background-color: #F7C32E !important;
  border-color: #F7C32E;
  border: none !important;
  border-radius: 25px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-left: 110px !important;
  margin-bottom: 15px;
  transition: color 0.5s ease;
}

.btn-primary:hover {
  background-color: #000000 !important; 
}

.forgottenpassword{
  text-decoration: underline;
}

.btn-primary2 {
  width: 235px;
  height: 40px;
  color: #ffffff;
  font-weight: 450;
  background-color: #F7C32E !important;
  border-color: #F7C32E;
  border-radius: 25px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  margin-right: 36px !important;
  margin-left: 43px !important;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 4px;
  box-shadow: none !important;
  border: none !important;
  transition: color 0.5s ease;
}

.btn-primary2:hover {
  background-color: #000000 !important; 
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

header {
  color: rgb(247, 109, 23);
  padding: 20px;
}

.hygiene{
font-family: "Aclonica", sans-serif;
color: #4CAF50;
}

.hygiene2{
font-family: "Roboto Condensed", sans-serif;
color: #4CAF50;
font-size: 1.5em;
}

.conseils {
  margin: 20px 0;
}

.conseils > ul {
  list-style-type: none;
  padding: 0;
}

.conseils > li {
  margin: 10px 0;
  padding: 10px;
}

footer p {
  margin-top: 50px;
  color: #555;
  display: flex;
  justify-content: center;
}

#app form p{
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}