@charset "utf-8";

body{
  background-color: #FEE6CA;
}

.container-fluid {
  width: 100%;
  height: 4em;
  border: #3f944277 solid 1px;
  background-color: #fbebda;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  position: relative; 

  img{
    display: block;
    position: absolute;
    left: 80px;
  }
}

a:visited {
  color: inherit; /* Garde la couleur du lien non cliqué */
  text-decoration: none; /* Supprime la décoration, par exemple le soulignement */
}

a {
  text-decoration: none; /* Enlève le soulignement par défaut */
  color: inherit !important; /* Garde la couleur du lien non survolé */
  position: relative; /* Nécessaire pour le positionnement du pseudo-élément */
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px; /* Épaisseur du trait */
  background-color: #1D972C; /* Couleur du trait */
  border-radius: 10px; /* Arrondit les bords du trait */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: width 0.5s ease; /* Animation pour l'apparition du trait */
}

a:hover::after {
  width: 100%; 
}
  
#button {
  border: none;
  text-decoration: none !important;
  background-color: #fbebda;
  padding-right: 50px;
}

.nav-link-container {
  background-color: #ffeddf;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-list {
  display: flex; 
  justify-content: space-between !important;
}

.nav-item {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2em;
}

.navbar-nav {
flex-direction: row;
justify-content: center;
gap: 160px;
padding-left: 219px;
}

.nav-item svg {
  margin-right: 6px; 
  margin-bottom: 6px;
}

.navbar {
  padding-top: 0px !important;
}


.container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 50px;
  margin: 0 auto;
}

.text-content {
  width: 80%;
  font-family: "Aclonica", sans-serif;
}

.text-content > h1  {
  font-size: 80px;
  line-height: 2;
  color: #000;
  margin-bottom: 10px;
  line-height: 100px;
  padding-bottom: 40px;
}

.yellow {
  color: #F7C32E;
}

.green {
  color: #4CAF50;
}

.text-content > p {
  font-size: 1.5em;
  font-weight: 350;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}

.text-content > h2 {
  font-size: 3.3em;
  font-weight: 280;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 40px;
  padding-left: 8px;
}

.cta-button {
  background-color: #F7C32E;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-content {
  width: 40%;
  img {
    display: block;
    position: relative;
    left: 185px;
    bottom: 60px;
  }
}
